root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
ij_java_names_count_to_use_import_on_demand = 65535
ij_java_class_count_to_use_import_on_demand = 65535
ij_java_packages_to_use_import_on_demand = unset
